# Hide environment variables
.env

# Hide data 
/chroma_db/
/notion-api/notion_contents.json

# Ignore venv
/venv/

# Ignore test
/test/

# Ignore cache
**/__pycache__/**

# Mac hiden file
.DS_Store


